.services {
  width: 1260px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row nowrap;
}

.card {
  padding: 160px 30px 30px 30px;
  width 420px;
  text-align: center;
  flex-basis: 33%;
}